<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | 404</title>
    <link rel="icon" type="image/png" href="<%= user.pfp %>">
    <link rel="stylesheet" href="../assets/95a8f639-987b-42e6-81f5-4190c081796d.css">
    <link rel="stylesheet" href="../assets/5a2ec7fd-dee9-4504-bf07-9acf381ff45c.css">
    <link rel="stylesheet" href="../assets/5bbdd4df-d3bb-43bf-ab14-79a5ca8b0c76.css">
</head>

<body>
    <div class="flex h-screen justify-center">
        <div class="m-auto flex flex-col items-center px-4">
            <img src="<%= user.pfp %>" class="h-44 w-44 nav-img" id="Layer_1"
                data-name="Layer 1">
            <p class="text-blue-100 text-xl font-semibold font-poppins text-center">Page not found.</p>
            <div class="flex flex-row gap-4 mt-3">
                <a href="/">
                    <button
                        class="active:translate-y-1 p-1.5 font-poppins rounded-md w-32 md:text-lg sm:text-base text-sm font-semibold bg-zinc-925 border-2 border-zinc-900 hover:border-<%= theme %>-700 duration-500 ease-custom text-blue-100">
                        Home
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>